body{
    height: 100vh;
    width: auto;
    background-color: hsl(0, 0%, 98%);
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.main-header{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.secondary-header{
    text-align: center;
    font-family: "Poppins", "sans-serif";
    font-weight: 600;
    font-size: 32px;
}

.tertiary-header{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 30rem;
}

.hero-content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-content-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 5px 10px 18px hsl(229, 6%, 66%);
    border-top-style: solid;
    border-top-color: hsl(0, 78%, 62%);
    border-top-width: 5px;
}

.hero-content-left-title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: hsl(234, 12%, 34%);
}

.hero-content-left-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    height: 17.5vh;
    width: 17.5vw;
    color: hsl(229, 6%, 66%);
    background: url("./images/icon-supervisor.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-x: right;
}

.hero-content-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

.hero-content-middle-top{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 5px 10px 18px hsl(229, 6%, 66%);
    border-top-style: solid;
    border-top-color: hsl(180, 62%, 55%);
    border-top-width: 5px;
}

.hero-content-middle-top-title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: hsl(234, 12%, 34%);
}

.hero-content-middle-top-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    height: 17.5vh;
    width: 17.5vw;
    color: hsl(229, 6%, 66%);
    background: url("./images/icon-team-builder.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-x: right;
}

.hero-content-middle-bottom{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 5px;
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 5px 10px 18px hsl(229, 6%, 66%);
    border-top-style: solid;
    border-top-color: hsl(34, 97%, 64%);
    border-top-width: 5px;
}

.hero-content-middle-bottom-title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: hsl(234, 12%, 34%);
}

.hero-content-middle-bottom-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    height: 17.5vh;
    width: 17.5vw;
    color: hsl(229, 6%, 66%);
    background: url("./images/icon-karma.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-x: right;
}

.hero-content-right{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 5px 10px 18px hsl(229, 6%, 66%);
    border-top-style: solid;
    border-top-color: hsl(212, 86%, 64%);
    border-top-width: 5px;
}

.hero-content-right-title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: hsl(234, 12%, 34%);
}

.hero-content-right-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    height: 17.5vh;
    width: 17.5vw;
    color: hsl(229, 6%, 66%);
    background: url("./images/icon-calculator.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-x: right;
}

.attribution { 
    display: flex;
    flex: 3;
    font-size: 32px; 
    text-align: center; 
    color: hsl(229, 6%, 66%);
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}